# Server
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://prathamkumar707070_db_user:0CZ3Z8vxIeFAtOKl@cluster0.ogrtabv.mongodb.net/?appName=Cluster0

# Auth
JWT_SECRET=f55b1ff83e733bea66e136c351bcc421cf93147d29525010015e0a25de7e8eb6da0683a28e70846ca3011105fb45cde66c7f7903dff0d3478772081e3332604a

# Blockchain
NETWORK=localhost
PRIVATE_KEY=e2d250a51d807876ef1e9cbbd406b21199a561dc08f86e78ac02b4eecb0afdfe
CONTRACT_ADDRESS=your_deployed_contract_address
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
MAINNET_RPC_URL=https://mainnet.infura.io/v3/YOUR_KEY

# Security
ALLOWED_ORIGINS=http://localhost:3000

# IPFS (Pinata or similar)
IPFS_API_KEY=your_ipfs_api_key
IPFS_SECRET=your_ipfs_secret
